h1{
    color: blueviolet;
    margin-left:12%;
    font-style: italic;
    margin-top: -15%;
    text-decoration: underline;
    
}
div{
    margin-left: 12%;
    margin-top: 12%;
    
    
     
}

.calcul{
    color: blueviolet;
    background-color: antiquewhite;
    padding: 25px;
    width: 352px;
    border-color: white;
    border-radius: 10px;
    font-size: 25px;
    
}
.num1{
    color: blueviolet;
    background-color: antiquewhite;
    padding: 15px;
    width: 95px;
    border-color: white;
    font-size: 25px;
    margin: 3px;
    border-radius: 10px;
    
    

}
.num2{
    color: blueviolet;
    background-color: antiquewhite;
    padding: 15px;
    width: 95px;
    border-color: white;
    margin: 3px;
    font-size: 25px;
    border-radius: 10px;

}
.num3{
    color: blueviolet;
    background-color: antiquewhite;
    padding: 15px;
    width: 95px;
    border-color: white;
    font-size: 25px;
    margin: 3px;
    border-radius: 10px;

}
.op1{
    
        color: blueviolet;
        background-color: antiquewhite;
        padding: 15px;
        width: 95px;
        border-color: white;
        font-size: 25px;
        margin: 3px;
        border-radius: 10px;
    
    }
.num4{
    color: blueviolet;
    background-color: antiquewhite;
    padding: 15px;
    width: 95px;
    border-color: white;
    font-size: 25px;
    margin: 3px;
    border-radius: 10px;

}
.num5{
    color: blueviolet;
    background-color: antiquewhite;
    padding: 15px;
    width: 95px;
    border-color: white;
    font-size: 25px;
    margin: 3px;
    border-radius: 10px;
}
.num6{
    color: blueviolet;
    background-color: antiquewhite;
    padding: 15px;
    width: 95px;
    border-color: white;
    font-size: 25px;
    margin: 3px;
    border-radius: 10px;
}
.op2{
    
        color: blueviolet;
        background-color: antiquewhite;
        padding: 15px;
        width: 95px;
        border-color: white;
        font-size: 25px;
        margin: 3px;
        border-radius: 10px;
    
    }



    .num7{
        color: blueviolet;
        background-color: antiquewhite;
        padding: 15px;
        width: 95px;
        border-color: white;
        font-size: 25px;
        margin: 3px;
        border-radius: 10px;
    
    }
    .num8{
        color: blueviolet;
        background-color: antiquewhite;
        padding: 15px;
        width: 95px;
        border-color: white;
        margin: 3px;
        font-size: 25px;
        border-radius: 10px;
    
    }
    .num9{
        color: blueviolet;
        background-color: antiquewhite;
        padding: 15px;
        width: 95px;
        border-color: white;
        font-size: 25px;
        margin: 3px;
        border-radius: 10px;
    
    }
    .num0{
        
            color: blueviolet;
            background-color: antiquewhite;
            padding: 15px;
            width: 196px;
            border-color: white;
            font-size: 25px;
            margin: 3px;
            border-radius: 10px;
        
        }
    
    
   
    .op3{
        
            color: blueviolet;
            background-color: antiquewhite;
            padding: 15px;
            width: 95px;
            border-color: white;
            font-size: 25px;
            margin: 3px;
            border-radius: 10px;
        
        }
        .op4{
        
            color: blueviolet;
            background-color: antiquewhite;
            padding: 15px;
            width: 95px;
            border-color: white;
            font-size: 25px;
            margin: 3px;
            border-radius: 10px;
        
        }
        .op5{
        
            color: blueviolet;
            background-color: antiquewhite;
            padding: 15px;
            width: 95px;
            border-color: white;
            font-size: 25px;
            margin: 3px;
            border-radius: 10px;
        
        }
        .op6{
        
            color: blueviolet;
            background-color: antiquewhite;
            padding: 15px;
            width: 196px;
            border-color: white;
            font-size: 25px;
            margin: 3px;
            border-radius: 10px;
        
        }
        .arche1{
            color: blueviolet;
            background-color: antiquewhite;
            padding: 15px;
            width: 95px;
            border-color: white;
            font-size: 25px;
            margin: 3px;
            border-radius: 10px;

        }
        .arche2{
            color: blueviolet;
            background-color: antiquewhite;
            padding: 15px;
            width: 95px;
            border-color: white;
            font-size: 25px;
            margin: 3px;
            border-radius: 10px;

        }




